:root{
    --background-color: #101F61;
    --foreground-color: #1D38AD;
    --shadow-color: #505363;
    --font-color: #000;
    --font-light-color: #fff;

    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px insert;
}
/* * - selektor ten bierze pod uwage całą strone. A ty o nim zapomniałaś */

*{
    box-sizing: border-box;
}

/* jeśli się coś rozjeżdża box sizing */


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(46, 16, 73);
   /* usuń domyślny margine body */
    margin: 0;
}

nav {
    background-color: var(--foreground-color);
    box-shadow: var(--shadow);
    border: 2px dashed blue;
    display: flex;
    justify-content: space-between;
    /* przestrzeń pomiędzy dziećmi na osi x */
    align-items: center;
    /* ustaawia dziec na środku osi Y */
    position: sticky;
    /* sticky przykleja do ekranu jeśli ma spełniony warunek */
    top:0;
    padding: 0 10px;
    z-index: 1;
}

/* wszystkie tagi a mające nava jako przodka */
nav a {
    color: var(--font-light-color);
    text-decoration: none;

}

nav a h1 {
    padding: 0px;
    margin: 0px;
}

nav ul {
    margin: 0px;
    /* przestrzeń wokół granic elementy */
    padding: 10 px;
    /* przestrzeń między borderem a treścą */
    background-color: var(--shadow-color);
    list-style: none;
    
    
  
    /* właściowści hambu */
    position: fixed; /* przykleja się na stałe do ekranu */
    width: 40vw;
    right:calc(-40vw - 2 px);

    /*top: 100%; */
    top:calc( 2em + 10px );
    height: calc( 100vw -( 2em + 10px ));
    transition: .5s;
    
}

nav ul li {
    color: var(--font-light-color);
    /* y x  */
    /* top right bottom left */
/* pierwsz góra doł druga prawo lewo */
    margin: 10px;
    padding: 5px 10px;
    text-align: right;

}
/* hamburger elements */
nav label {
    border: 2px solid var(--font-light-color);
    border-radius: 5px;
    width: 2em;
    height: 2em;
    margin: 10px 0;
    position: relative;
    /* relative */
    cursor: pointer;

}
/* style dla wszytskich kresek w harmbu wszystkie współne */
nav label div {
    
    height: 3px;
    border-radius: 3px;
    background-color: var(--font-light-color);
    position: absolute;
    /* dostosowuje się do przodka */
    width: 80%;
    /* szerokośc na 80 % rodzica */
    left: 10%;
    /* odsuwamy o 10% szerokości rodzica */
    transition: .3s;
    /* jeśli się będzie zmieniał, to niech trwa to pół sekundy */

}
nav label div:nth-child(1) {
    top:calc( 25% - 1.5px)
}

nav label div:nth-child(2) {
    top: calc( 50% - 1.5px )
    /* środek na środek rodzica na osi y */

}

nav label div:nth-child(3) {
    top: calc( 75% - 1.5 px);
}
/* jeśli odnośimy się w HTML ID w CSS # */
#toggler {
    display: none;
}
#toggler:checked ~ ul {
    right: 0;
}
#toggler:checked ~ label div:nth-child(1){
    transform: rotate(45deg);
    top: calc( 50% - 1.5 px)
}
#toggler:checked ~ label div:nth-child(2){
    opacity: 0;
    
}
#toggler :checked ~ label div:nth-child(3){
    transform: rotate(135deg);
    top: calc( 50% - 1.5 px)
}


/* wszystkie wymienione elementy */
h2,h3,h4,p {
    margin: 0;

}


.carousel-section {
    color: var(--font-light-color);
    background-color: var(--shadow-color);
    margin: 1rem;
    border-radius: 7px;
    padding-bottom: 1px;
}

.carousel-section > header {
    padding: .75rem 1rem;

}


.carousel-outer {
    background-color: var(--font-color);
    position: relative;
    border-radius: 7px;
    margin: 1rem;
}
 
.carousel-outer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 0;
    height: 100%;
    width: 20%;
    transition: .3s;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.carousel-inner article  {
    display: none;
    padding-bottom: 2rem;
}

@keyframes slideInRight {
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}
@keyframes slideInLeft {
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}
.slideLeft {
    animation: 25s slideInLeft ease-in;
}
.slideRight {
    animation: 25s slideInRight ease-in;
}

.carousel-inner article.active {
    display: block;
    position: relative;
}
.carousel-inner article header {
    padding: 1.25rem 1rem;
}

.carousel-inner article .content{
    display: flex;
    justify-content: center;
}

.carousel-inner article .content img{
    max-width: 100%;
}









footer {border: 2px dashed teal;
}

@media  ( min-width: 768px ) { 




nav label {
    display: none;
}

nav ul {
    position: static;
    width: unset;
    height: unset;
    display: flex;
    background-color: transparent;
}
nav ul li{
    margin: 0;
}

.carousel-outer button:hover {
    background-color: rgba(0,0,0,0.561);
    color:var(--font-light-color)
}

}


/* zaraz mnie ściśnie */
